.customer-item {
  list-style-type: none;
  margin-bottom: 48px;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  background-image: linear-gradient(
    to right,
    #ffffff,
    lightskyblue,
    rgb(112, 187, 101),
    #ffffff
  );
  box-shadow: #7f8fdd 1px 1px 1px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-item {
    width: 300px;
  }
}

.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.title {
  color: #171f46;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 8px;
}
